<div class="container">
  <h1>Controle de Gastos Domésticos</h1>
  
  <section class="formulario">
    <h3>Adicionar Gasto</h3>

    <div class="field">
      <input type="text" placeholder="Descrição do gasto (ex: Aluguel)"
      [(ngModel)]="novoGasto.descricao" data-cy="input-descricao"/>
    </div>

    <div class="field">
      <input type="number" placeholder="Valor do gasto (R$)"
      [(ngModel)]="novoGasto.valor" data-cy="input-valor"/>
    </div>

    <div class="field">
      <select [(ngModel)]="novoGasto.categoria" data-cy="select-categoria">
        <option value="" disabled selected>Selecione a categoria</option>
        <option value="Alimentação">Alimentação</option>
        <option value="Transporte">Transporte</option>
        <option value="Moradia">Moradia</option>
        <option value="Lazer">Lazer</option>
        <option value="Saúde">Saúde</option>
        <option value="Outros">Outros</option>
      </select>
    </div>

    <button (click)="adicionarGasto()" data-cy="btn-adicionar">Adicionar Gasto</button>
  </section>

  <hr/>

  <section class="lista-gastos">
    <h3>Histórico de Despesas</h3>
  
    @if (listaGastos().length > 0) {
      <div class="table-card">
        <table data-cy="tabela-gastos">
          <thead>
            <tr>
              <th>Descrição</th>
              <th>Categoria</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            @for (item of listaGastos(); track item.descricao) {
              <tr>
                <td>{{ item.descricao }}</td>
                <td>{{ item.categoria }}</td>
                <td>{{ item.valor | currency:'BRL' }}</td>
                <td class="acoes">
                  <button (click)="removerGasto($index)" class="btn-excluir" data-cy="btn-remover">
                    🗑️
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    } @else {
      <p class="empty-msg">Nenhum gasto registrado ainda.</p>
    }

    @if (listaGastos().length > 0) {
    <div class="totalizador">
      <strong>Total Geral: </strong>
      <span data-cy="total-geral">{{ totalGeral() | currency:'BRL' }}</span>
    </div>
    }
    </section>

  <hr/>

  <section class="resumo">
    <h3>Resumo por Categoria</h3>

    <div class="categoria-grid">
      @for (cat of resumoPorCategoria(); track cat.nome) {
        <div class="categoria-card">
          <span class="cat-nome">{{ cat.nome }}</span>
          <span class="cat-valor">{{ cat.total | currency:'BRL' }}</span>
        </div>
      } @empty {
        <p class="empty-msg">Adicione gastos para ver o resumo.</p>
      }
    </div>
  </section>

</div>